.button {
    height: 40px;
    width: 125px;
}

.loginFormBackground {
    background-color: rgba(225, 225, 225, 0.5);
    display: inline-block;
    margin-left: 27%;
    margin-top: 0%;
    border-radius: 4px;
}

form {
    text-align: center;
    padding: 50px;
    height: 500px;
}

span {
    font-size: 20px;
    font-weight: 600;
}

.formElement {
    height: 34px;
}

#address {
    width: 500px
}

#profilePicture {
    margin-left: 62px;
    display: none;
}

#image {
    display: none
}

#save {
    display: none
}