#filterHeading {
    float: left;
    font-size: 30px;
    font-weight: 600;
}

.loginFormBackground {
    background-color: rgba(225, 225, 225, 0.5);
    display: inline-block;
    margin-left: 20%;
    margin-top: 2%;
    border-radius: 4px;
    width: 800px;
}

#displayToDoItems,
#toDoTableHead {
    background-color: rgba(225, 225, 225, 0.5);
    display: inline-block;
    margin-left: 14%;
    margin-top: 1%;
    border-radius: 4px;
}

#form {
    text-align: center;
    padding: 14px;
}

.button {
    height: 40px;
    width: 125px;
}

.createToDo {
    font-size: 20px;
    font-weight: 600;
    /* float: left; */
}

#filters {
    margin-left: -66px;
}

.toDoTableTitle {
    font-size: 27px;
    font-weight: 600;
    text-decoration: underline;
}

.displayErrorMessage {
    background-color: rgba(225, 225, 225, 0.5);
    margin-left: 20%;
    margin-top: 4%;
    border-radius: 4px;
    width: 800px;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding-top: 7px;
}

#title {
    width: 300px
}

#description {
    width: 600px
}

#startDate {
    width: 150px
}

#endDate {
    width: 150px
}

#reminderDate {
    width: 150px
}

#save,
#startDateForFilter,
#dueDateForFilter,
#searchForDateFilter {
    display: none
}

#filters {
    color: black
}